@{
	ViewBag.Title = "Nums 1..." + (ViewBag.Count ?? 0) ;
}


<h2>@ViewBag.Title</h2>
<ul>
	@for (int i = 1; i <= ViewBag.Count; i++)
	{
		<li>@i</li>
	
	}
</ul>
<form action="/Home/Numbers" method="POST">
		<input type="number" id="count" name="count" required>
		<button class="btn btn-primary" type="submit">Submit</button>
</form>
