@{
	ViewBag.Title = "Nums 1..." + ViewBag.Count;
}
<body>
    <h2>Въведете число</h2>
    <form action="process_number.php" method="POST">
        <label for="number">Число:</label>
        <input type="number" id="number" name="number" required>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>

<h2>@ViewBag.Title</h2>
<ul>
	@for (int i = 1; i <= ViewBag.Count; i++)
	{
		<li>@i</li>
	
	}
</ul>